{% extends "base.html.twig" %}

{% block title %}Dice{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<p>The drawn card: </p>

<p> {{ draw_card }} </p>


<p>Cards remaining: </p>

<p> {{ remaining_cards }} </p>



{% endblock %}
