{% extends "base.html.twig" %}


{% block title %}About{% endblock %}

{% block content %}

<h1> About </h1>

<p class="important">
<img src="img/mvc_bild.png" width="200px" alt="MVC bild">
<br><br>
Denna kurs, MVC, fokuserar p책 objektorienterad php-programmering i ett webbaserat ramverk. Det ing책r 채ven databaser samt enhetstestning.
</p>

<p> <a href="https://github.com/dbwebb-se/mvc">L채nk till kursens github-sida</a></p>


{% endblock %}