{% extends "base.html.twig" %}


{% block title %}Report{% endblock %}

{% block content %}

<h1> Report </h1>
Här presenteras redovisningstexter för kursens kmom.


<h1> KMOM01 </h1>

<p> </p>

<h1> KMOM02 </h1>

<p> </p>

<h1> KMOM03 </h1>

<p> </p>

<h1> KMOM04 </h1>

<p> </p>

<h1> KMOM05 </h1>

<p> </p>

<h1> KMOM06 </h1>

<p> </p>

<h1> KMOM10 </h1>

<p> </p>

{% endblock %}